# Lecture 6 Lab Exerices
* Harshin Pathak
* Self Assesment:
* Overall, these exercises were pretty straightforward for me. I have experience loading csv files into Pandas DataFrames so 9.16 was kind of review. However, it is always good to review these functions and brush up so I was happy to do that question. Question 10.2 was interesting. Editing the class properties was straightforward due to the labassist note but I will say that this is my first time working with custom classes in python. I am happy to learn more and dont feel as comfortable as I shoud but plan on learning more about classes and becoming more comfortable.

## 9.16) Data Science: Working with diamonds.csv dataset. LabAssist: Model code after titanic disaster dataset in 9.12.2
* In this question I used pandas to load in a csv file into a dataframe. I then carried out some basic dataframe operations by using the examples in 9.12.2 as a template

### Part a: Download diamonds.csv from a repository
* done

### Part b: Load dataset in pandas DataFrame which uses first column of each record as row index: ('diamonds.csv', index_col=0)

In [1]:
import pandas as pd

diamonds = pd.read_csv('https://vincentarelbundock.github.io/Rdatasets/csv/ggplot2/diamonds.csv', index_col = 0)

### Part c: Display first 7 rows of DataFrame

In [3]:
diamonds.head(7)

,carat,cut,color,clarity,depth,table,price,x,y,z
rownames,,,,,,,,,,
1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
6,0.24,Very Good,J,VVS2,62.8,57.0,336,3.94,3.96,2.48
7,0.24,Very Good,I,VVS1,62.3,57.0,336,3.95,3.98,2.47

### Part d: Display last 7 rows of the DataFrame

In [7]:
diamonds.tail(7)

,carat,cut,color,clarity,depth,table,price,x,y,z
rownames,,,,,,,,,,
53934,0.70,Very Good,E,VS2,61.2,59.0,2757,5.69,5.72,3.49
53935,0.72,Premium,D,SI1,62.7,59.0,2757,5.69,5.73,3.58
53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

### Part e: Use the DataFrame method describe to calculate descriptive statistics for numerical columns- carat, depth, table, price, x,y and z

In [9]:
diamonds.describe()

,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

### Part f: Use the Series method describe to calculate descriptive statistics for categorical data (text) columns-cut, color and clarity

In [11]:
# Series method for 'cut'
diamonds.cut.describe()

count     53940
unique        5
top       Ideal
freq      21551
Name: cut, dtype: object

In [13]:
# Series method for 'color'
diamonds.color.describe()

count     53940
unique        7
top           G
freq      11292
Name: color, dtype: object

In [15]:
# Series method for 'clarity'
diamonds.clarity.describe()

count     53940
unique        8
top         SI1
freq      13065
Name: clarity, dtype: object

### Part g: What are the unique category values (Use series method unique)

In [17]:
# Unique categorical values for 'cut'
diamonds.cut.unique()

array(['Ideal', 'Premium', 'Good', 'Very Good', 'Fair'], dtype=object)

In [19]:
# Unique categorical values for 'color'
diamonds.color.unique()

array(['E', 'I', 'J', 'H', 'F', 'G', 'D'], dtype=object)

In [21]:
# Unique categorical values for 'clarity'
diamonds.clarity.unique()

array(['SI2', 'SI1', 'VS1', 'VS2', 'VVS2', 'VVS1', 'I1', 'IF'],
      dtype=object)

### Part h: Pandas has many built-in graphing capabilities. Execute the %matplotlib magic to enable Matplotlib support in IPython. Then, to view histograms of each numerical data column, call your DataFrame’s hist method. The following figure shows the results for the DataFrame’s seven numerical columns:

In [25]:
%matplotlib

histogram_summary = diamonds.hist()

Using matplotlib backend: QtAgg

#### Histogram figure is created with 7 sublots of all the numerical columns in our "diamonds" dataframe

## 10.2) Account Class with Read-Only Properties. LabAssist: Use the syntax for property getters shown in section 10.4.2's Time Class

#### Updating the account.py class

In [27]:
# account.py from given code in class

"""Account class definition."""
from decimal import Decimal

class Account:
    """Account class for maintaining a bank account balance."""
    
    def __init__(self, name, balance):
        """Initialize an Account object."""

        # if balance is less than 0.00, raise an exception
        if balance < Decimal('0.00'):
            raise ValueError('Initial balance must be >= to 0.00.')

        self.name = name
        self.balance = balance

    # Read-only properties for name and balance mean only a "getter" for both

    # Read only for name
    @property
    def name(self):
        """Return the name."""
        return self._name

     # Readon only for balance
    @property
    def balance(self):
        """Return the balance"""
        return self._balance

    def deposit(self, amount):
        """Deposit money to the account."""

        # if amount is less than 0.00, raise an exception
        if amount < Decimal('0.00'):
            raise ValueError('amount must be positive.')

        self.balance += amount

#### Re-execute 10.2.2's ipython session to test updated class

In [29]:
Account?

Init signature: Account(name, balance)
Docstring:      Account class for maintaining a bank account balance.
Init docstring: Initialize an Account object.
Type:           type
Subclasses:

In [31]:
account1 = Account('John Green', Decimal('50.00'))

AttributeError: property 'name' of 'Account' object has no setter

#### Since there is no "setter" for properties name and balance in the class "Account", these are read only properties.