# Lecture 2 Lab Exercises
* Harshin Pathak
* Self Assesment: Overall, this assignment was interesting as It included a conceptual portion that I quite enjoyed. I will say that I had issues with 3.17) Nested Loops. This question took me alot longer than it should have as I have never done in exercise like this. I will certainly review that question and note it for future reference.

## 3.10 7% Investment return: Modify your solution to 2.12 using a for loop
To solve this question I edited the code I used to solution 2.12. The main edits I did was to condense all the individual calculations for a1, a2, and a3 into a single generalized for loop. The for loop will run based on the individual "n" values in the dataset n_t.

In [149]:
# Initialize parameters
p = 1000
r = 0.07

# Create the array of n values in n_t
n_t = range(1,31)

for n in n_t:
    a = p*(1 + r)**n
    print('The desposit amount after', n, 'years is', a, 'dollars')

The desposit amount after 1 years is 1070.0 dollars
The desposit amount after 2 years is 1144.9 dollars
The desposit amount after 3 years is 1225.0430000000001 dollars
The desposit amount after 4 years is 1310.7960100000003 dollars
The desposit amount after 5 years is 1402.5517307000005 dollars
The desposit amount after 6 years is 1500.7303518490005 dollars
The desposit amount after 7 years is 1605.7814764784307 dollars
The desposit amount after 8 years is 1718.186179831921 dollars
The desposit amount after 9 years is 1838.4592124201556 dollars
The desposit amount after 10 years is 1967.1513572895665 dollars
The desposit amount after 11 years is 2104.8519522998363 dollars
The desposit amount after 12 years is 2252.191588960825 dollars
The desposit amount after 13 years is 2409.845000188083 dollars
The desposit amount after 14 years is 2578.534150201249 dollars
The desposit amount after 15 years is 2759.031540715336 dollars
The desposit amount after 16 years is 2952.16374856541 dollars
The desposit amount after 17 years is 3158.8152109649886 dollars
The desposit amount after 18 years is 3379.932275732538 dollars
The desposit amount after 19 years is 3616.5275350338165 dollars
The desposit amount after 20 years is 3869.6844624861833 dollars
The desposit amount after 21 years is 4140.562374860217 dollars
The desposit amount after 22 years is 4430.401741100432 dollars
The desposit amount after 23 years is 4740.5298629774625 dollars
The desposit amount after 24 years is 5072.366953385886 dollars
The desposit amount after 25 years is 5427.432640122897 dollars
The desposit amount after 26 years is 5807.352924931501 dollars
The desposit amount after 27 years is 6213.867629676706 dollars
The desposit amount after 28 years is 6648.838363754076 dollars
The desposit amount after 29 years is 7114.257049216862 dollars
The desposit amount after 30 years is 7612.255042662042 dollars

## 3.17 Nested Loops
In this question I utilized nested for loops to print out certain asterisks patterns. The basic pattern was to iterate through a dataset 10 times. The key is to have the dataset values either increase by 1: ex (1,2,3,4...,9,10) or decrase by 1: ex (10,9,8...,2,1). Based on this template pattern, I added complexity regarding initial spaces for patterns C and D.

In [80]:
# Pattern A

# initialize i array
i = [1,2,3,4,5,6,7,8,9,10]

#Create 1st for loop that iterates between all values 1 to 10 in i
for it in i:
    
    for n in range(it): #based on the value in array i, the amount of asteriks to print is decided
        
        print('*', end = '')
        
    print()

*
**
***
****
*****
******
*******
********
*********
**********

In [82]:
# Pattern B

# initialize I array
# "reversed" the values in the i array from Pattern A to create desired shape 
i = [10,9,8,7,6,5,4,3,2,1]

#Create 1st for loop that iterates between all values 10 to 1 in i
for it in i:
    
    for n in range(it): #based on the value in array i, the amount of asterisks to print is decided
        
        print('*', end = '')
        
    print()

**********
*********
********
*******
******
*****
****
***
**
*

In [136]:
# Pattern C

#Create i array
i = [10,9,8,7,6,5,4,3,2,1]

#Create 1st for loop that iterates between all values 10 to 1 in i
for it in i:
    
    for s_c in range(10-it): #the amount of "zero spaces" increases from 0 to 9, increasing by 1 every iteration (10 total)
            print(' ', end='' )
        
    for n in range(it): #based on the value in array i, the amount of asterisks to print is decided
        print('*', end ='')
            
    print()

**********
 *********
  ********
   *******
    ******
     *****
      ****
       ***
        **
         *

In [140]:
# Pattern D

# I array is the reversed from Part C as asterisks increase from 1 to 10 every iteration
i = [1,2,3,4,5,6,7,8,9,10]

#Create 1st for loop that iterates between all values 10 to 1 in i
for it in i:
    
    for s_c in range(10-it): # The amount of spaces before asterisks is calculated by 10 - it. decreasing
            print(' ', end='' )
        
    for n in range(it): #based on the value in array i, the amount of asteriks to print is decided
        print('*', end = '')
            
    print()

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********

## 3.26 Data Science Research: Anscombes's Quartet
The main thing that I learned regarding Anscombe's Quartet was the reinforcement of the principle: "Correlation is not caustation". Anscombes Quartet reminded me of this as the 4 datasets based on descriptive statistics (linear regression eqn, std deviation, mean values) should be the same but are not. This is because similar to the principle of "correlation is not causation", trends and insights from data need to be scrutined beyond face value. In conclusion, in this age of mass data and generative AI, Anscombes Quartet reminds me to scrutinze data, and be wary of generalizations at face value.

## 3.31 Data Science: Categorical Data
The descriptive statistic I believe that can be useful for categorical variables is mode. Mode is useful because just as in a quantatative dataset, the categorical variable that shows up the most in a dataset can be useful in describing the dataset. For instance if we had a dataset of all dogs available in the USA, wouldn't the dog type most available be a good statistic to have? The other two descriptive statistics dont make too much sense to me. First of all, the mean of categorical values makes no sense at all. Similarly, the median categorical value of a dataset makes no sense unless the categorical dataset is structured in a time dependent manner.